.btn-simple{
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
	font-size:13px;
	padding:9.945px 21.879px;
	-webkit-border-radius:3.000002307694083px;
	-moz-border-radius:3.000002307694083px;
	-o-border-radius:3.000002307694083px;
	-ms-border-radius:3.000002307694083px;
	border-radius:3.000002307694083px;
	background-color:#00a6fc;
	color:#fff;
	color:rgba(255,255,255,.95);
	cursor:pointer;
	font-weight:700;
	font-family:"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
	line-height:1;
	text-align:center;
	text-decoration:none;
	display:inline-block}.btn-simple:hover,.btn-simple:focus{background-color:#009eef;
	color:#f7f7f7;
	color:rgba(247,247,247,.95)}.btn-simple:active{background-color:#0095e3}.btn{-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
	font-size:13px;
	padding:9.945px 21.879px;
	-webkit-border-radius:3.000002307694083px;
	-moz-border-radius:3.000002307694083px;
	-o-border-radius:3.000002307694083px;
	-ms-border-radius:3.000002307694083px;
	border-radius:3.000002307694083px;
	background:url(noise.png) repeat,#0095e3 -webkit-gradient(linear,left top,left bottom,color-stop(0,#17b0ff),color-stop(1,#0095e3)) repeat-x;
	background:url(noise.png) repeat,#0095e3 -webkit-linear-gradient(top,#17b0ff 0,#0095e3 100%) repeat-x;
	background:url(noise.png) repeat,#0095e3 -moz-linear-gradient(top,#17b0ff 0,#0095e3 100%) repeat-x;
	background:url(noise.png) repeat,#0095e3 -o-linear-gradient(top,#17b0ff 0,#0095e3 100%) repeat-x;
	background:url(noise.png) repeat,#0095e3 -ms-linear-gradient(top,#17b0ff 0,#0095e3 100%) repeat-x;
	background:url(noise.png) repeat,#0095e3 linear-gradient(top,#17b0ff 0,#0095e3 100%) repeat-x;
	text-shadow:1px 1px 1px rgba(0,0,0,.1);
	border:1px solid #0095e3;
	color:#fff;
	color:rgba(255,255,255,.95);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,.3);
	-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,.3);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.3);
	cursor:pointer;
	font-weight:700;
	font-family:"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
	line-height:1;
	text-align:center;
	text-decoration:none;
	display:inline-block}.btn:hover,.btn:focus{background-position:0 -9.945px;
	color:#f7f7f7;
	color:rgba(247,247,247,.95);
	text-shadow:1px 1px 1px rgba(0,0,0,.2)}.btn:active{-webkit-box-shadow:inset 0 1px 5px rgba(0,124,189,.6);
	-moz-box-shadow:inset 0 1px 5px rgba(0,124,189,.6);
	-o-box-shadow:inset 0 1px 5px rgba(0,124,189,.6);
	-ms-box-shadow:inset 0 1px 5px rgba(0,124,189,.6);
	box-shadow:inset 0 1px 5px rgba(0,124,189,.6);
	text-shadow:0 -1px 1px rgba(0,0,0,.2);
	border-color:#0088cf}.btn.disabled,.btn-simple.disabled{background:#ccc;
	border-color:#b8b8b8;
	-webkit-filter:alpha(Opacity=50);
	-moz-filter:alpha(Opacity=50);
	-o-filter:alpha(Opacity=50);
	-ms-filter:alpha(Opacity=50);
	filter:alpha(Opacity=50);
	opacity:.5;
	cursor:default;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none}.btn.disabled:hover,.btn-simple.disabled:hover{background:#ccc;
	background-position:0 0}.btn.disabled:active,.btn-simple.disabled:active{background:#ccc;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
	border-color:#b8b8b8;
	text-shadow:1px 1px 1px rgba(0,0,0,.1)}body{background-color:#ededed;
	overflow-x:hidden;
	margin:0;
	font-family:SourceSansProRegular,'Times New Roman',serif;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	vertical-align:baseline;
	color:#333;
	-webkit-animation:fadeIn 1s ease}header{padding-top:10px;
	padding-bottom:20px;
	padding-left:30px;
	max-width:960px;
	max-height:150px;
	margin:0 auto;
	margin-top:20px;
	background:url(../img/skyline.svg) no-repeat right top;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	-ms-background-size:contain;
	background-size:contain}header .title{color:inherit;
	border:0;
	text-decoration:none}header .title:hover{color:inherit;
	border:0;
	text-decoration:none}header .title:visited{-webkit-filter:alpha(Opacity=100);
	-moz-filter:alpha(Opacity=100);
	-o-filter:alpha(Opacity=100);
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1}header .title .main{font-size:3em;
	font-weight:400;
	font-family:SourceCodeProRegular}header nav{text-align:right;
	font-family:SourceCodeProRegular}header nav ul{zoom:1;
	margin:0;
	padding:0;
	color:#918e8e;
	font-size:2em;
	padding-left:30px}header nav ul:before,header nav ul:after{content:"";
	display:table}header nav ul:after{clear:both}header nav ul li{float:left;
	margin-right:20px;
	list-style-type:none}header nav ul li:last-child{margin-right:0}header nav ul li{display:inline-block;
	padding-right:70px}header nav ul li a{color:#918e8e;
	text-decoration:none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease}header nav ul li a:hover{-webkit-filter:alpha(Opacity=70);
	-moz-filter:alpha(Opacity=70);
	-o-filter:alpha(Opacity=70);
	-ms-filter:alpha(Opacity=70);
	filter:alpha(Opacity=70);
	opacity:.7}#bar{background:#333;
	color:#fff;
	padding:5px}#bar ul{zoom:1;
	margin:0;
	padding:0;
	max-width:880px;
	margin:0 auto;
	font-family:SourceCodeProRegular;
	font-size:1.1em}#bar ul:before,#bar ul:after{content:"";
	display:table}#bar ul:after{clear:both}#bar ul li{float:left;
	margin-right:0;
	list-style-type:none}#bar ul li:last-child{margin-right:0}#bar ul li{display:inline-block;
	width:33%;
	text-align:center}#bar ul li a{color:#fff;
	text-decoration:none;
	display:block}#bar ul li a:hover{-webkit-filter:alpha(Opacity=70);
	-moz-filter:alpha(Opacity=70);
	-o-filter:alpha(Opacity=70);
	-ms-filter:alpha(Opacity=70);
	filter:alpha(Opacity=70);
	opacity:.7}#content{max-width:700px;
	padding:0 40px;
	margin:0 auto;
	margin-bottom:160px}#content h3{font-weight:400;
	font-family:SourceCodeProRegular;
	color:#d06;
	font-size:2em;
	margin-bottom:11px;
	padding-top:25px}#content h4{font-weight:400;
	font-family:SourceSansProSemibold;
	color:#333;
	font-size:1.2em}#content p{color:#333;
	font-size:1.25em;
	line-height:1.35em;
	vertical-align:baseline}#content img{border:5px solid #333;
	margin-top:11px}#content ul{font-size:1.25em}#content a{text-decoration:none;
	color:#d06}#content #news{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-o-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-ms-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	background-color:#eee8d5;
	padding:15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	margin:20px 0;
	margin-top:30px;
	padding-top:10px;
	background:url(../img/megafon.svg) no-repeat 95% 2%;
	-webkit-background-size:15%;
	-moz-background-size:15%;
	-o-background-size:15%;
	-ms-background-size:15%;
	background-size:15%;
	background-color:#eee8d5}#content #news h3{padding-top:10px;
	margin-top:10px}#content #gruen{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-o-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-ms-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	background-color:#5fd790;
	padding:15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	margin:20px 0}#content #gelb{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-o-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-ms-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	background-color:#f9df53;
	padding:15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	margin:20px 0}#content #rot{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-o-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	-ms-box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	box-shadow:inset 0 0 6px rgba(0,0,0,.05);
	background-color:#e26153;
	padding:15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	margin:20px 0}@media screen and (max-device-width:480px){#bar ul li{width:100%}header{background:transparent!important;
	padding:10px;
	margin-top:0}header .title .main{font-size:1.5em}header nav ul li{font-size:.5em}#content{padding:0 5px}}@font-face{font-family:SourceCodeProExtraLight;
	src:url(../font/SourceCodePro-ExtraLight-webfont.eot);
	src:url(../font/SourceCodePro-ExtraLight-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceCodeProLight;
	src:url(../font/SourceCodePro-Light-webfont.eot);
	src:url(../font/SourceCodePro-Light-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceCodeProRegular;
	src:url(../font/SourceCodePro-Regular-webfont.eot);
	src:url(../font/SourceCodePro-Regular-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceCodeProSemibold;
	src:url(../font/SourceCodePro-Semibold-webfont.eot);
	src:url(../font/SourceCodePro-Semibold-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceCodeProBold;
	src:url(../font/SourceCodePro-Bold-webfont.eot);
	src:url(../font/SourceCodePro-Bold-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceCodeProBlack;
	src:url(../font/SourceCodePro-Black-webfont.eot);
	src:url(../font/SourceCodePro-Black-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceSansProRegular;
	src:url(../font/sourcesanspro-regular-webfont.eot);
	src:url(../font/sourcesanspro-regular-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceSansProSemibold;
	src:url(../font/sourcesanspro-semibold-webfont.eot);
	src:url(../font/sourcesanspro-semibold-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal}@font-face{font-family:SourceSansProLight;
	src:url(../font/sourcesanspro-light-webfont.eot);
	src:url(../font/sourcesanspro-light-webfont.woff) format('woff');
	font-weight:400;
	font-style:normal
}
@-webkit-keyframes fadeIn{
	0%{
		-webkit-filter:alpha(Opacity=0);
		-moz-filter:alpha(Opacity=0);
		-o-filter:alpha(Opacity=0);
		-ms-filter:alpha(Opacity=0);
		filter:alpha(Opacity=0);
		opacity:0
	}
	100%{
	-webkit-filter:alpha(Opacity=100);
			-moz-filter:alpha(Opacity=100);
			-o-filter:alpha(Opacity=100);
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1}
@-moz-keyframes fadeIn{
	0%{
	-webkit-filter:alpha(Opacity=0);
	-moz-filter:alpha(Opacity=0);
	-o-filter:alpha(Opacity=0);
	-ms-filter:alpha(Opacity=0);
	filter:alpha(Opacity=0);
	opacity:0}
100%{
	-webkit-filter:alpha(Opacity=100);
	-moz-filter:alpha(Opacity=100);
	-o-filter:alpha(Opacity=100);
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1}
}
@-o-keyframes fadeIn{
	0%{
	-webkit-filter:alpha(Opacity=0);
	-moz-filter:alpha(Opacity=0);
	-o-filter:alpha(Opacity=0);
	-ms-filter:alpha(Opacity=0);
	filter:alpha(Opacity=0);
	opacity:0}
100%{
	-webkit-filter:alpha(Opacity=100);
	-moz-filter:alpha(Opacity=100);
	-o-filter:alpha(Opacity=100);
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1}
}
@-ms-keyframes fadeIn{
	0%{
	-webkit-filter:alpha(Opacity=0);
	-moz-filter:alpha(Opacity=0);
	-o-filter:alpha(Opacity=0);
	-ms-filter:alpha(Opacity=0);
	filter:alpha(Opacity=0);
	opacity:0}
100%{
	-webkit-filter:alpha(Opacity=100);
	-moz-filter:alpha(Opacity=100);
	-o-filter:alpha(Opacity=100);
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1}
}
@keyframes fadeIn{
	0%{
	-webkit-filter:alpha(Opacity=0);
	-moz-filter:alpha(Opacity=0);
	-o-filter:alpha(Opacity=0);
	-ms-filter:alpha(Opacity=0);
	filter:alpha(Opacity=0);
	opacity:0}
100%{
	-webkit-filter:alpha(Opacity=100);
	-moz-filter:alpha(Opacity=100);
	-o-filter:alpha(Opacity=100);
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1}
}
